*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $font_text;
    font-size: 1.125rem;
    line-height: 1.2;
    color: $color_text;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: geometricPrecision;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_head;
    font-weight: bold;
    color: $font_text;
}

h1 {
    font-size: 2.45rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}