.main-wrapper {
    margin-left: 90px;
    max-width: calc(100% - 90px);

    .main-row-wrapper {

        /* MAIN CONTENT MENU */
        #main-content {
            margin: $ma-40;
            padding: $px-40;
            background-color: $color_main_transparent;
            border: 1px solid $color_main_border;
            flex: 1;
            border-radius: $border_radius;

            .single-title {
                color: $color_white;
                margin-bottom: $ma-20
            }
        }

        /* SIDEBAR */
        @import 'sidebar';
    }
}