/**** Fonts ****/
$font_head: 'Lato', sans-serif;
$font_text: 'Lato', sans-serif;

/**** Colors ****/
$color_main_blue: #21C9DD;
$color_main_yellow: #F3BA4B;
$color_white: #FFFFFF;
$color_main_transparent: rgba(33, 201, 221, 0.05);
$color_main_border: rgba(33, 201, 221, 0.20);
$color_main_cover: rgba(5, 13, 32, 0.75);
$color_red: #d31027;
$color_text: #111c3b;
$color_green: #00a800;
$color_transparent: rgba(255, 255, 255, 0);

/**** Transition ****/
$transition_cb1: cubic-bezier(0.47, 0, 0.745, 0.715);
$transition_cb2: cubic-bezier(0.075, 0.82, 0.165, 1);
$transition_cb3: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$transition_cb4: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$transition_cb5: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$transition_cb6: cubic-bezier(.68, .4, 1, .76);

/**** Shadows ****/
$shadow_header: 0 8px 11px rgba(0, 0, 0, 0.04);
$shadow_btn: 0 0 8px 2px rgba(0, 0, 0, 0.03);
$shadow_box: 0 7px 20px rgba(78, 78, 78, 0.05);
$shadow_modal: 0 0 0 2000px rgba(0, 0, 0, 0.5);

/**** Boreder Radius ****/
$border_radius: 2px;

/**** Global Padding ****/
$padding_classic: 20px;
$px-10: 10px;
$px-20: 20px;
$px-40: 40px;
$px-80: 80px;
$px-100: 100px;

/**** Global Margin ****/
$margin_classic: 20px;
$ma-10: 10px;
$ma-20: 20px;
$ma-40: 40px;
$ma-80: 80px;
$ma-100: 100px;